<div class="col-sm-12">
    <div class="iq-card">
       <div class="iq-card-body">
          <ul class="notification-list m-0 p-0">
             <li class="d-flex align-items-center">
                <div class="user-img img-fluid"><i class="fa fa-folder iq-bg-primary icon-class"></i></div>
                <div class="media-support-info ml-3">
                   <h6>Dossier : {{dossier?.ref_Dossier}}</h6>
                   <p class="mb-0">{{dossier?.iliness_start_date}}</p>
                </div>
                <div :class="['d-flex align-items-center clasStatus',getClassStatus(dossier?.status)]">
                   <a href="javascript:void();" :class="['w-100 iq-notify clasStatuslbl',getClassStatus(dossier?.status)]">{{dossier?.status.toUpperCase()}}</a>
                </div>
                <div class="d-flex align-items-center ml-5">
                   <a @click="showDetailsDossier(dossier)" class="w-100 iq-notify"><i class="las la-eye iconclass"></i></a>
                   <a @click="updateFiles(dossier.id)" class="w-100 iq-notify "><i class="las la-pen iconclass"></i></a>
                   <a @click="destroyFile(dossier.id)" class="w-100 iq-notify "><i class="las la-trash-alt iconclass"></i></a>
                </div>
             </li>
          </ul>
       </div>
    </div>
 </div>