.logo-app{
    color: #BEACA5;
    font-size: 20px;
    display: flex;
    align-items: center;
}  
.logo-app > span{
    color: #7AB050;
    border-bottom: blue 1px solid;
    font-size: 20px;
    margin-left: -1px;
}
.logo-app > i{
    color: rgb(255, 47, 47);
    font-size: 55px;
    margin-top: -20px;
}